@import 'style.css';
@import 'categorised-articles-container.css';
@import 'new-article.css';

.main-content {
    display: flex;
    max-width: 80rem;
    margin: 0 auto;
}

.half-wrapper{
    display: flex;
    width: 100%;
}

.half-wrapper > div{
    flex: 1 1 50%;
}


@media only screen and (max-width: 767px) {
.half-wrapper{
    flex-direction: column;
    flex: 1;
}
}
