@import "style.css";
@import "categorised-articles-container.css";
@import "article-details.css";

.main-content-article {
  display: flex;
/*   max-width: 80rem; */

}
.main-content__delete {
  min-height: 250px;
}

.new-article__delete{
    justify-content: center;
    align-items: inherit;
}

@media only screen and (max-width: 767px) {
  .main-content-article {
    flex-direction: column;
    padding: 0 20px;
    margin: 0 auto;
  }
}

.categorised-articles-container {
  padding: 16px 0;
  background-color: #f7f7fc;
}

@media only screen and (max-width: 767px) {
  .categorised-articles-container {
    padding: 0 0 32px 0;
    background-color: transparent;
  }
}
